gunicorn
flask
flask-login
flask-migrate
flask-wtf
flask-sqlalchemy
sentencepiece
psycopg2-binary
python-dotenv
transformers
torch
nltk
spacy
youtube-transcript-api
PyPDF2
itsdangerous
requests
wtforms